*.pyc
gadget4/*/build/*
gadget4/*/r*/build/*
gadget4/*/Gadget4
gadget4/*/compile.log
job-*.e*
job-*.o*
job-*.p*
job-*.r*
monofonic/*/input_powerspec.txt
monofonic/*/input_transfer.txt
# param_r1.txt
# param_r2.txt
gadget4/*/param_r1.txt-usedvalues
# *.info
velociraptor/stf.log
*/hello.txt
tmp/
*.log
logs/test-hmf.*
out_file1.txt
*.bin
*.noise
*log.txt
sanity_checks/plots/L150_N512_Cp18/old/*
