*.pyc
gadget4/*/build/*
gadget4/*/Gadget4
gadget4/*/compile.log
job-*.e6*
job-*.o6*
monofonic/*/input_powerspec.txt
monofonic/*/input_transfer.txt
# param_r1.txt
# param_r2.txt
gadget4/*/param_r1.txt-usedvalues
# *.info
